doctype html
html
  head
    title Request service
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    h1 Request a new service
    p user: #{username} with email: #{email} requested service: #{category} #{service} with marketingBudget: #{marketingBudget}
    p userId: #{userId}
    p serviceId: #{serviceId}
